.stars {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 0 5px;
  margin-left: 40px;

  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
    width: 120px;
  }

  .star {
    display: block;
    width: 24px;
    height: 24px;
    clip-path: polygon(
      54.885% 3.515%,
      54.885% 3.515%,
      54.554% 2.895%,
      54.163% 2.325%,
      53.716% 1.809%,
      53.219% 1.35%,
      52.677% 0.952%,
      52.096% 0.619%,
      51.481% 0.353%,
      50.837% 0.159%,
      50.17% 0.04%,
      49.486% 0%,
      49.486% 0%,
      48.801% 0.04%,
      48.136% 0.159%,
      47.494% 0.353%,
      46.88% 0.619%,
      46.301% 0.952%,
      45.76% 1.35%,
      45.263% 1.809%,
      44.815% 2.325%,
      44.421% 2.895%,
      44.086% 3.515%,
      32.032% 29.352%,
      5.11% 33.492%,
      5.11% 33.492%,
      4.447% 33.636%,
      3.812% 33.852%,
      3.208% 34.138%,
      2.642% 34.489%,
      2.117% 34.901%,
      1.64% 35.369%,
      1.213% 35.891%,
      0.843% 36.461%,
      0.535% 37.075%,
      0.292% 37.73%,
      0.292% 37.73%,
      0.121% 38.41%,
      0.025% 39.097%,
      0.001% 39.786%,
      0.049% 40.47%,
      0.168% 41.143%,
      0.355% 41.798%,
      0.611% 42.429%,
      0.933% 43.03%,
      1.321% 43.595%,
      1.773% 44.116%,
      21.308% 64.25%,
      16.696% 92.705%,
      16.696% 92.705%,
      16.622% 93.408%,
      16.625% 94.107%,
      16.702% 94.796%,
      16.851% 95.469%,
      17.069% 96.12%,
      17.353% 96.741%,
      17.703% 97.328%,
      18.114% 97.874%,
      18.586% 98.372%,
      19.114% 98.817%,
      19.114% 98.817%,
      19.688% 99.197%,
      20.292% 99.503%,
      20.919% 99.736%,
      21.564% 99.895%,
      22.219% 99.979%,
      22.88% 99.988%,
      23.54% 99.922%,
      24.193% 99.78%,
      24.832% 99.562%,
      25.451% 99.266%,
      49.504% 85.889%,
      73.558% 99.266%,
      73.558% 99.266%,
      74.177% 99.562%,
      74.816% 99.782%,
      75.469% 99.926%,
      76.128% 99.994%,
      76.789% 99.987%,
      77.445% 99.903%,
      78.09% 99.745%,
      78.717% 99.511%,
      79.321% 99.201%,
      79.894% 98.817%,
      79.894% 98.817%,
      80.423% 98.367%,
      80.895% 97.866%,
      81.306% 97.32%,
      81.655% 96.733%,
      81.94% 96.112%,
      82.158% 95.464%,
      82.306% 94.793%,
      82.383% 94.105%,
      82.386% 93.407%,
      82.313% 92.705%,
      77.682% 64.25%,
      97.217% 44.116%,
      97.217% 44.116%,
      97.67% 43.595%,
      98.059% 43.03%,
      98.383% 42.429%,
      98.64% 41.798%,
      98.829% 41.143%,
      98.949% 40.47%,
      98.997% 39.786%,
      98.972% 39.097%,
      98.873% 38.41%,
      98.698% 37.73%,
      98.698% 37.73%,
      98.451% 37.075%,
      98.139% 36.461%,
      97.768% 35.891%,
      97.342% 35.369%,
      96.865% 34.901%,
      96.343% 34.489%,
      95.778% 34.138%,
      95.177% 33.852%,
      94.542% 33.636%,
      93.88% 33.492%,
      66.94% 29.352%,
      54.885% 3.515%
    );
    background-color: $star-empty;

    @media (max-width: 768px) {
      width: 16px;
      height: 16px;
    }

    &.filled {
      background-color: $primary-color;
    }
  }
}
