.notFound {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ff6060;
  gap: 40px;

  .code {
    font-weight: 700;
    font-size: 288px;
    line-height: 288px;

    @media (max-width: 768px) {
      font-size: 140px;
      line-height: 140px;
    }
  }

  .errorText {
    font-weight: 500;
    font-size: 36px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .return {
    color: #000;
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
