@mixin slide($duration) {
  $name: slide-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.descriptionBlock {
  position: relative;
  max-width: 1024px;
  min-width: 330px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;

  .block {
    background: $primary-color;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
      padding: 8px 15px 8px 10px;
    }

    .title {
      font-size: 24px;
      font-weight: 700;
      user-select: none;
      @media (max-width: 768px) {
        font-size: 13px;
      }
    }

    .arrow {
      transform: rotate(0);
      transition: all 0.3s;

      @media (max-width: 768px) {
        height: 9.14px;
        width: 16px;
      }

      &.turned {
        transform: rotate(-180deg);
      }
    }
  }

  .description {
    border-radius: 0 0 5px 5px;
    padding: 20px;
    background-color: $grey;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.3s;
    position: relative;
    z-index: -1;
    display: none;

    @media (max-width: 768px) {
      font-size: 13px;
    }

    @include slide(0.3s) {
      0% {
        display: block;
        transform: translateY(0);
        height: 100%;
      }
      100% {
        display: none;
        transform: translateY(-300px);
        height: 0;
      }
    }

    &.open {
      display: block;
      @include slide(0.3s) {
        0% {
          display: none;
          transform: translateY(-300px);
          height: 0;
        }
        100% {
          display: block;
          transform: translateY(0);
          height: 100%;
        }
      }
    }
  }
}
