.home {
  width: 100%;
  margin-bottom: 40px;

  .error {
    font-size: 16px;
  }

  .isPending {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 40px;
    padding: 40px;
  }
}
